div.remember {
	margin-top: 7px;
	color: #969696;
}

div.remember label {
	padding-top: 15px;
}

div.forgot {
	margin-top: 7px;
	color: #dadada;
}

footer {
    background: url("../img/feature-gradient.png") no-repeat scroll center 100% white;
    color: #B7B7B7;
    font-size: 12px;
    padding: 30px 0;
    text-align: center;
}

footer a {
	margin-left: 10px;
	margin-right: 10px;
}

table.signup td {
	padding: 10px;
}

table.signup .alert {
	margin-bottom: 0;
    margin-top: 3px;
}

table.perms select {
	margin-top: 5px;
	margin-right: 10px;
}

table.perms label {
	margin-right: 10px;
}

div.main-container {
	min-height: 450px;
}

.has-error .help-block,
.has-error .control-label,
.has-error .form-control,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
	color: #d3302f;
}

.col-sm-2.control-label.left {
	text-align: left;
}

.anonym {
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 5px !important;
}